version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: trabalho_ibd_mysql
    restart: always
    # O Docker Compose carrega automaticamente o arquivo .env se estiver na mesma pasta
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: